html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    text-align: center;
    margin: auto;
    max-width: 1200px;
    line-height: 2;
    background-color: rgb(250, 255, 255);
}

.body--darkMode {
    background-color: #8e8f97;
}


.amountText {
    font-size: xx-large;
}